---
import Brand from '@/components/Brand.astro';
import Menu from '@icons/menu-2.svg';
import X from '@icons/x.svg';
---

<header
  id="header"
  class="py-5 fixed right-0 left-0 top-0 z-50 transition-all duration-300 bg-surface-glass backdrop-blur-sm"
>
  <div class="container mx-auto flex justify-between items-center px-4 md:px-6">
    <div class="flex items-center">
      <a href="#home"><Brand /></a>
    </div>

    <!-- Desktop Navigation -->
    <nav class="hidden lg:flex items-center space-x-8 group">
      <a
        href="#about"
        class="text-light hover:text-brand-primary transition-colors"
        >¿Qué es?</a
      >
      <a
        href="#benefits"
        class="text-light hover:text-brand-primary transition-colors"
        >Beneficios</a
      >
      <a
        href="#how-it-works"
        class="text-light hover:text-brand-primary transition-colors"
        >Cómo funciona</a
      >
      <a
        href="#testimonials"
        class="text-light hover:text-brand-primary transition-colors"
        >Testimonios</a
      >
    </nav>

    <!-- Mobile Menu Button -->
    <div class="lg:hidden">
      <button id="menu-toggle" class="text-light">
        <Menu size="24" id="menu-icon" />
        <X size="24" id="close-icon" class="hidden" />
      </button>
    </div>

    <!-- Auth Buttons - Desktop -->
    <div class="hidden lg:flex space-x-3">
      <button class="btn btn-soft btn-primary">Iniciar sesión</button>
      <button class="btn btn-primary">Registrarse</button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="hidden lg:hidden absolute w-full bg-black/90 backdrop-blur-lg transition-all shadow-lg"
  >
    <div class="container mx-auto p-8">
      <nav class="flex flex-col space-y-4">
        <a
          href="#about"
          class="text-light hover:text-brand-primary transition-colors"
          >¿Qué es?</a
        >
        <a
          href="#benefits"
          class="text-light hover:text-brand-primary transition-colors"
          >Beneficios</a
        >
        <a
          href="#how-it-works"
          class="text-light hover:text-brand-primary transition-colors"
          >Cómo funciona</a
        >
        <a
          href="#testimonials"
          class="text-light hover:text-brand-primary transition-colors"
          >Testimonios</a
        >
      </nav>
      <div class="mt-4 flex flex-col space-y-3">
        <button class="btn btn-soft btn-primary">Iniciar sesión</button>
        <button class="btn btn-primary">Registrarse</button>
      </div>
    </div>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const header = document.getElementById('header');
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');
    const menuIcon = document.getElementById('menu-icon');
    const closeIcon = document.getElementById('close-icon');

    if (!header || !menuIcon || !menuToggle || !mobileMenu || !closeIcon)
      return;

    window.addEventListener('scroll', () => {
      if (window.scrollY > 20) {
        header.classList.add('bg-domisys-dark/95', 'shadow-md');
      } else {
        header.classList.remove('bg-domisys-dark/95', 'shadow-md');
      }
    });

    menuToggle.addEventListener('click', () => {
      const isOpen = mobileMenu.classList.toggle('hidden');
      menuIcon.classList.toggle('hidden', !isOpen);
      closeIcon.classList.toggle('hidden', isOpen);
    });
  });
</script>
