---
import Heading from '../Heading.astro';
import WrapperIcon from '../WrapperIcon.astro';
import BuildingStore from '@icons/BuildingStore.astro';
import KitchenTools from '@icons/KitchenTools.astro';
import ShoppingBag from '@icons/ShoppingBag.astro';

const cardsContent = [
  {
    title: 'Tiendas y Supermercados',
    icon: BuildingStore,
    description:
      'Gestiona tu inventario, recibe pedidos online y organiza entregas a domicilio, todo desde una única interfaz.',
  },

  {
    title: 'Restaurantes',
    icon: KitchenTools,
    description:
      'Recibe pedidos online, gestiona tu menú y coordina tus domiciliarios para entregar los pedidos en tiempo récord.',
  },

  {
    title: 'Comercios Minoristas',
    icon: ShoppingBag,
    description:
      'Amplia tu alcance con una tienda online y satisface a tus cliente con un servicio de entrega eficiente y confiable.',
  },
];
---

<section class="w-full p-14 bg-white/[0.03]">
  <div class="flex-col-center w-4/5 gap-10 mx-auto">
    <Heading
      title="¿Qué es DomiSys?"
      description="Una plataforma integral que transforma tu negocio local en un e-commerce completo con gestión de domicilios, ideal para supermercados, tiendas de conveniencia y restaurantes. DomiSys te da el control total de tus ventas y domicilios en una sola plataforma."
      label="Potencia tu Negocio"
    />

    <article class="flex-center gap-9">
      {
        cardsContent.map(({ description, icon, title }) => (
          <div class="flex-col-center w-96 gap-3 rounded-lg p-5 surface-glass shadow-md shadow-black/50 hover:scale-105 transition-all">
            <div class="p-2 rounded-full text-brand-primary bg-brand-primary/20">
              <WrapperIcon icon={icon} />
            </div>

            <h3 class="text-xl font-semibold text-custom-neutral">{title}</h3>
            <p class="text-sm text-center">{description}</p>
          </div>
        ))
      }
    </article>
  </div>
</section>
