---
import Heading from '../Heading.astro';
import WrapperIcon from '../WrapperIcon.astro';
import CreditCard from '@icons/CreditCard.Lock.astro';
import DeviceDesktopAnalytics from '@icons/DeviceDesktopAnalytics.astro';
import MapPin from '@icons/MapPin.astro';
import Package from '@icons/Package.astro';
import Lock from '@icons/Lock.astro';
import ShoppingBag from '@icons/ShoppingBag.astro';
import Truck from '@icons/Truck.astro';
import Clock from '@icons/Clock.astro';
import Heart from '@icons/Heart.astro';

const benefits = [
  {
    icon: Package,
    title: 'Gestión de inventario simplificada',
    description:
      'Controla tu stock en tiempo real, recibe alertas de productos con poco inventario y gestiona proveedores.',
  },
  {
    icon: CreditCard,
    title: 'Pedidos y pagos en línea',
    description:
      'Acepta pagos con tarjeta y otros métodos directamente en tu plataforma de e-commerce perzonalizada.',
  },
  {
    icon: MapPin,
    title: 'Asignación de repartidores',
    description:
      'Mapas en tiempo real optimización de rutas y gestión eficiente de tu equipo de entregas.',
  },
  {
    icon: DeviceDesktopAnalytics,
    title: 'Dashboard intuitivo',
    description:
      'Estadísticas y métricas claras para tomar decisiones informadas y mejorar constantemente.',
  },
  {
    icon: Lock,
    title: 'Seguridad y control total',
    description:
      'Controla tu stock en tiempo real, recibe alertas de productos con poco inventario y gestiona proveedores.',
  },
  {
    icon: ShoppingBag,
    title: 'Catálogo personalizable',
    description:
      'Crea un catálogo atractivo con categorías, imágenes y descripciones detalladas de tus productos. ',
  },
  {
    icon: Truck,
    title: 'Logística simplificada',
    description:
      'Automatiza la asignación de entregas y monitorea el estado de cada pedido en tiempo real.',
  },
  {
    icon: Clock,
    title: 'Mayor eficiencia',
    description:
      'Reduce tiempos de entrega y optimiza procesos con herramientas diseñadas para la velocidad.',
  },
  {
    icon: Heart,
    title: 'Fidelización de clientes',
    description:
      'Crea programas de lealtad, envía promociones y mantén a tus clientes comprando repetidamente.',
  },
];
---

<section class="flex-col-center w-4/5 gap-12 h-screen mx-auto">
  <div class="w-4/5">
    <Heading
      label="Todo lo que necesitas"
      title="Beneficios clave"
      description="DomiSys transforma la manera en que gestionas tu negocio, optimizando cada aspecto desde el inventario hasta las entregas."
    />
  </div>

  <article class="flex justify-center flex-wrap gap-5">
    {
      benefits.map(({ icon, description, title }) => (
        <div
          class="flex flex-col justify-center w-[400px] gap-2 p-5 rounded-lg transition-all duration-200 
          bg-surface-glass border border-white/5 shadow shadow-black/50 group 
          hover:bg-brand-secondary/20 hover:border-brand-secondary/40 hover:scale-105 hover:-rotate-2"
        >
          <div class="flex items-center gap-3">
            <div
              class="p-2 text-brand-primary bg-brand-primary/20 rounded-lg transition-all duration-200 
              group-hover:text-brand-secondary group-hover:bg-brand-secondary/20"
            >
              <WrapperIcon icon={icon} />
            </div>
            <h3 class="text-lg font-medium text-custom-neutral">{title}</h3>
          </div>
          <p class="text-sm">{description}</p>
        </div>
      ))
    }
  </article>
</section>
