---
import Heading from '@/components/Heading.astro';
import BuildingStore from '@icons/building-store.svg';
import ShoppingCart from '@icons/shopping-cart.svg';
import Truck from '@icons/truck.svg';

const steps = [
  {
    icon: BuildingStore,
    title: 'Configura tu tienda',
    description:
      'Amplia tu alcance con una tienda online y satisface a tus cliente con un servicio de entrega eficiente y confiable.',
    badge: '01',
  },
  {
    icon: ShoppingCart,
    title: 'Recibe pedidos online',
    description:
      'Convierte tu tienda en un e-commerce y acepta pedidos de manera rápida y sencilla, sin complicaciones ni límites geográficos.',
    badge: '02',
  },
  {
    icon: Truck,
    title: 'Entrega con facilidad',
    description:
      'Optimiza la gestión de envíos con una logística eficiente, asegurando entregas rápidas y sin inconvenientes para tus clientes.',
    badge: '03',
  },
];
---

<section class="relative flex-col-center w-full h-screen gap-12">
  <div class="absolute inset-0 bg-surface-primary/90 -z-10"></div>
  <div
    class="absolute inset-0 bg-[url('/images/cryptocurrency.webp')] bg-cover bg-center mask-fade-bottom -z-20"
  >
  </div>

  <Heading
    label="Simple y potente"
    title="Cómo funciona"
    description="DomiSys simplifica todo el proceso, desde la configuración inicial hasta la entrega final, permitiéndole concentrarte en hacer crecer tu negocio."
  />

  <article class="flex-center gap-12">
    {
      steps.map(({ icon: Icon, description, title, badge }) => (
        <div class="group flex-col-center w-96 rounded-lg p-5 surface-glass backdrop-blur-sm shadow-[0px_4px_4px] shadow-black/25">
          <div class="relative p-4 pb-3">
            <span class="group-hover:scale-110 absolute top-0 right-0 badge text-[10px] rounded-full px-[6px] py-[2px] border-0 bg-brand-secondary/20 text-brand-secondary transition-all">
              {badge}
            </span>
            <div class="flex-center p-2 rounded-full bg-brand-primary/20 text-custom-neutral/70">
              <Icon class="w-10 h-10" />
            </div>
          </div>

          <div class="flex-col-center gap-3">
            <h3 class="text-xl font-semibold text-custom-neutral">{title}</h3>
            <p class="text-sm text-center text-gray">{description}</p>
          </div>
        </div>
      ))
    }
  </article>

  <article class="flex-center">
    <div
      class="flex-col-center w-2/3 w-/ rounded-lg p-5 gap-3 surface-glass backdrop-blur-sm shadow-[0px_4px_4px] shadow-black/25"
    >
      <h3 class="text-xl font-semibold text-custom-neutral">
        Todo integrado en una única plataforma
      </h3>
      <p class="text-sm text-center text-gray">
        DomiSys conecta todas las partes de tu operación de e-commerce y
        entregas a domicilio en un flujo continuo y sin complicaciones.
      </p>

      <ul class="flex-center rounded-lg bg-white/[0.06]">
        <li class="px-2 py-[6px]">Inventario</li>
        <li class="px-2 py-[6px] rounded-lg bg-brand-secondary text-dark">
          Pedidos
        </li>
        <li class="px-2 py-[6px]">Repartidores</li>
        <li class="px-2 py-[6px]">Entregas</li>
        <li class="px-2 py-[6px]">Análisis</li>
      </ul>
    </div>
  </article>
</section>
