---
import Heading from '@/components/Heading.astro';
import { HOW_IT_WORKS } from '@/constanst/how-it-works';
---

<section
  id="how-it-works"
  class="relative flex-col-center w-full h-full xl:h-screen py-16 gap-12"
>
  <div class="w-full px-6 md:w-4/5">
    <Heading
      label="Simple y potente"
      title="Cómo funciona"
      description="DomiSys simplifica todo el proceso, desde la configuración inicial hasta la entrega final, permitiéndole concentrarte en hacer crecer tu negocio."
    />
  </div>

  <div class="w-11/12 md:w-4/5 mx-auto flex flex-col gap-12">
    <article class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        HOW_IT_WORKS.map(({ icon: Icon, description, title }, index) => (
          <div
            class={`surface-glass p-6 rounded-lg backdrop-blur-md shadow-lg flex flex-col items-center text-center ${index === 2 && 'max-lg:col-span-full'}`}
          >
            <div class="relative mb-4">
              <div class="flex-center p-3 rounded-full bg-brand-primary/20 text-custom-neutral/70">
                <Icon class="w-12 h-12" />
              </div>
            </div>

            <h3 class="text-lg font-semibold text-custom-neutral">{title}</h3>
            <p class="text-sm text-gray">{description}</p>
          </div>
        ))
      }
    </article>

    <article
      class="w-full lg:w-1/2 mx-auto surface-glass p-6 rounded-lg text-center"
    >
      <h3 class="text-xl font-semibold mb-3 text-custom-neutral">
        Todo integrado en una única plataforma
      </h3>
      <p class="text-gray mb-6">
        DomiSys conecta todas las partes de tu operación de e-commerce y
        entregas a domicilio en un flujo continuo y sin complicaciones.
      </p>

      <div class="flex flex-wrap justify-center gap-3">
        <span class="px-4 py-2 rounded-md bg-surface-glass text-brand-primary"
          >Inventario</span
        >
        <span class="px-4 py-2 rounded-md bg-brand-primary text-dark"
          >Pedidos</span
        >
        <span class="px-4 py-2 rounded-md bg-surface-glass text-brand-primary"
          >Repartidores</span
        >
        <span class="px-4 py-2 rounded-md bg-surface-glass text-brand-primary"
          >Entregas</span
        >
        <span class="px-4 py-2 rounded-md bg-surface-glass text-brand-primary"
          >Análisis</span
        >
      </div>
    </article>
  </div>
</section>
